<!DOCTYPE html>
<html>
    <head>
        <title>Calendar</title>
        <meta charset="utf-8">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">  

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.js" 
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" 
                crossorigin="anonymous">
        </script>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


        <style>
            
            body{
                background-color: #009688;
            }

            .user-form{
                margin-top: 30px;
            }

            .start-date-field{
                cursor: pointer;
            }

            table{
                font-size: 12px;
            }

            table td {
                text-align: center;
                padding: 0px 0px;
                display: table-cell;
                text-align: left;
                vertical-align: middle;
                border-radius: 2px;
                height: 30px;
            }

            .fixed-height-panel{
                height: 290px;
                padding: 0px;
            }

            .dayCell{
                width: 100%;
                height: 100%;
            }

            .weekDay{
                background-color: #e8f5e9;
            }

            .weekendDay{
                background-color: #fff9c4;
            }

            .invalidDay{
                background-color: #e0e0e0;
            }

            .calendarItem{
                display: block;
                background-color: #757575;
                height: 40px;
                line-height: 35px;
                color: white;
            }


        </style>
    </head>

    <body>

        <div id="app">
            <div class="row user-form">
                <div class="col s6 offset-s3">
                    <div class="card-panel white">

                        <div class="row">
                            <div class="input-field col s6 offset-s3 start-date-field" >
                                <i class="material-icons prefix">date_range</i>
                                <input id="start_date" type="text" class="datepicker" readonly="">
                                <label for="start_date">Start date</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s6 offset-s3 number-of-days-field" >
                                <i class="material-icons prefix">format_list_numbered</i>
                                <input id="days" type="text">
                                <label for="days">Number of Days </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s6 offset-s3 country-code-field" >
                                <i class="material-icons prefix">language</i>
                                <input id="code" type="text">
                                <label for="code">Country Code </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s6 offset-s3 center">
                                <a class="waves-effect waves-light btn" v-on:click="submitData">Submit</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row" v-for="group in calendarStructure">
                <div class="col s3 center" v-for="month in group">
                    <div class="card-panel white fixed-height-panel animated bounceInUp">
                        <table class="responsive-table">
                            <span class="calendarItem">{{month.MONTH}} {{month.YEAR}}</span>
                            <thead>
                                <tr>
                                    <th>Sun</th>
                                    <th>Mon</th>
                                    <th>Tue</th>
                                    <th>Wed</th>
                                    <th>Thu</th>
                                    <th>Fri</th>
                                    <th>Sat</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="week in month.MONTH_STRUCTURE">
                                    <td v-for="day in week">
                                        <div v-if="(day.date !== 0) && (day.dayName === 'Sunday' || day.dayName === 'Saturday')" class="dayCell weekendDay center">
                                            <span>{{day.date}}</span>
                                        </div>
                                        <div v-else-if="(day.date !== 0) && (day.dayName !== 'Sunday' && day.dayName !== 'Saturday')" class="dayCell weekDay center">
                                            <span>{{day.date}}</span>
                                        </div>
                                        <div v-if="day.date === 0" class="dayCell invalidDay center">
                                            
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            var app = new Vue({
                el: '#app',
                data: function(){
                    return {
                        message: 'Hello Vue!',
                        CountryList: [],
                        months: [31,28,31,30,31,30,31,31,30,31,30,31],
                        monthsNames: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                        dayNames: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                        calendarStructure: []
                    }
                },
                created: function(){

                },
                mounted: function(){
                    $('.datepicker').datepicker({
                        format: "mm/dd/yyyy",
                        yearRange: 100,
                        firstDay: 0
                    });
                },
                ready: function(){

                },

                methods: {
                    
                    submitData: function(){
                        var userDate = $("#start_date").val();
                        var amountOfDays = parseInt($("#days").val());
                        console.log(amountOfDays);
                        if (userDate.length > 0){
                            if (!isNaN(amountOfDays)){
                                var parts = userDate.split('/');
                                var month = parseInt(parts[0]);
                                var day = parseInt(parts[1]);
                                var year = parseInt(parts[2]);
                                //Create the groups
                                var monthsToDisplay = [];
                                //Check how many days are remaining after starting month

                                //Check if number of days exceeds current month first

                                var daysRemainingOfStartingMonth = 0;

                                if ((this.months[month-1] - (day+parseInt(amountOfDays))) < 0) { //It exceeds the number of days of the month
                                    daysRemainingOfStartingMonth = this.months[month-1] - day; 
                                    console.log(daysRemainingOfStartingMonth);
                                } else {
                                    daysRemainingOfStartingMonth = amountOfDays;
                                    console.log(daysRemainingOfStartingMonth);
                                }


                                //Get day of week for starting date
                                var dayOfWeek = new Date(userDate).getDay();
                                console.log(this.dayNames[dayOfWeek]);


                                var structure = [];

                                //Check if starting date is not a sunday, and fill with invalid date objects the days before starting date
                                if(dayOfWeek > 0){
                                    var x = 0;
                                    while(x < dayOfWeek){
                                        structure.push({date:0, dayName: this.dayNames[x]});
                                        x++;
                                    }
                                }

                                //Push the starting date
                                structure.push({date:day, dayName: this.dayNames[dayOfWeek]});

                                day++;

                                //Iterate remaining days
                                for(var i = 0; i < daysRemainingOfStartingMonth; i++){
                                    var dateString = `${month}/${day}/${year}`;
                                    dayOfWeek = new Date(dateString).getDay();
                                    structure.push({date:day, dayName: this.dayNames[dayOfWeek]});
                                    day++;

                                    if(i === daysRemainingOfStartingMonth-1){
                                        if(dayOfWeek <= 6){
                                            while(dayOfWeek < 6){
                                                dayOfWeek++;
                                                structure.push({date:0, dayName: this.dayNames[dayOfWeek]});
                                                
                                            }
                                        }
                                    }
                                }

                                //Divide list into groups of 7
                                var res = []
                                while(structure.length){
                                    res.push(structure.splice(0,7));
                                }
                                structure = res;
                                monthsToDisplay.push({MONTH:this.monthsNames[month-1], DAYS_TO_DISPLAY:daysRemainingOfStartingMonth, YEAR:year, MONTH_STRUCTURE:structure});
                                amountOfDays -= daysRemainingOfStartingMonth;


                                if (amountOfDays > 0){
                                    var daysOfThisMonth = 0;
                                    while (amountOfDays > 0){

                                        structure = [];
                                        //Since starting month already, passed, lets add 1 up the month
                                        month++;
                                        if(month === 13){ //If a year has passed, restart month counter
                                            month = 1;
                                            year++;
                                        }
                                        if(amountOfDays > this.months[month-1]){

                                            for(var i = 1; i <= this.months[month-1]; i++){
                                                //Check if starting date is not a sunday, and fill with invalid date objects the days before starting date
                                                var dateString = `${month}/${i}/${year}`;
                                                dayOfWeek = new Date(dateString).getDay();
                                                if(i==1){
                                                     if(dayOfWeek > 0){
                                                        var x = 0;
                                                        while(x < dayOfWeek){
                                                            structure.push({date:0, dayName: this.dayNames[x]});
                                                            x++;
                                                        }
                                                    }
                                                    structure.push({date:i, dayName: this.dayNames[dayOfWeek]});
                                                } else if (i > 1 && i <= this.months[month-1]){
                                                    structure.push({date:i, dayName: this.dayNames[dayOfWeek]});
                                                    if (i === this.months[month-1]){
                                                        if(dayOfWeek <= 6){
                                                            while(dayOfWeek < 6){
                                                                dayOfWeek++;
                                                                structure.push({date:0, dayName: this.dayNames[dayOfWeek]});
                                                            }
                                                        }
                                                    }
                                                } 
                                            }
                                            //Divide list into groups of 7
                                            var res = []
                                            while(structure.length){
                                                res.push(structure.splice(0,7));
                                            }
                                            structure = res;
                                            monthsToDisplay.push({MONTH:this.monthsNames[month-1], DAYS_TO_DISPLAY:this.months[month-1], YEAR:year, MONTH_STRUCTURE: structure});
                                            amountOfDays -= this.months[month-1];
                                        }else{

                                            for(var i = 1; i <= amountOfDays; i++){
                                                //Check if starting date is not a sunday, and fill with invalid date objects the days before starting date
                                                var dateString = `${month}/${i}/${year}`;
                                                dayOfWeek = new Date(dateString).getDay();
                                                if(i==1){
                                                     if(dayOfWeek > 0){
                                                        var x = 0;
                                                        while(x < dayOfWeek){
                                                            structure.push({date:0, dayName: this.dayNames[x]});
                                                            x++;
                                                        }
                                                    }
                                                    structure.push({date:i, dayName: this.dayNames[dayOfWeek]});
                                                } else if (i > 1 && i <= amountOfDays){
                                                    structure.push({date:i, dayName: this.dayNames[dayOfWeek]});
                                                    if(i === amountOfDays){
                                                        if (dayOfWeek < 6){
                                                            while(dayOfWeek < 6){
                                                                dayOfWeek++;
                                                                    structure.push({date:0, dayName: this.dayNames[dayOfWeek]});
                                                            }
                                                        }
                                                    }
                                                } 
                                            }
                                            //Divide list into groups of 7
                                            var res = []
                                            while(structure.length){
                                                res.push(structure.splice(0,7));
                                            }
                                            structure = res;
                                            monthsToDisplay.push({MONTH:this.monthsNames[month-1], DAYS_TO_DISPLAY:amountOfDays, YEAR:year, MONTH_STRUCTURE: structure});
                                            amountOfDays = 0;
                                        }
                                    }
                                }

                                //Divide whole list into groups of 4, for display purposes
                                console.log(monthsToDisplay);
                                var result = [];
                                while(monthsToDisplay.length){
                                    result.push(monthsToDisplay.splice(0,4));
                                }
                                monthsToDisplay = result;
                                console.log(monthsToDisplay);
                                this.calendarStructure = monthsToDisplay;



                            }else{
                                swal("Uh oh!", "The amount of days entered is not a numeric value!", "error");
                            }
                            
                        } else {
                            swal("Uh oh!", "You did not entered a date in the Start Date field!", "error");
                        }

                    }
                }
            });
        </script>


    </body>
</html>